@media screen and (min-width: 1800px) {

}

@media screen and (min-width: 1600px) {
}

@media screen and (min-width: 1440px) {

}

@media screen and (min-width: 1300px) {

}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {

}


@media only screen and (max-width: 991px) {

    /*blogs*/
    .blogsBody{grid-template-columns: repeat(2, 1fr);gap: 60px 30px;}
    .blogsHead{margin-bottom: 45px;}

    .insightsUpdatesDetailsWrap{padding:120px 0}
    .insightsUpdatesDetailsBody{flex-direction:column}
    .insightsUpdatesDetailsLftCont{border-right:none;padding-right:0}
    .insightsUpdatesDetailsRghtCont{padding-left:0}
    .blogPostContentHead>h1{max-width:100%}
    .blogPostShareSec{margin:40px 0}
    .recentPostsWrap{gap:20px}
    .recentPostsitem{padding-bottom:20px}
    
}

@media only screen and (max-width: 767px) {  

    /*blogs*/
    .blogsWrap{padding: 80px 0;}
    .blogsHead > h2{font-size: 25px;}
    .blogsHead > span{font-size: 20px;margin-bottom: 4px;}
    .blogsBody{grid-template-columns: repeat(1, 1fr);}
    .blogItem > h5{min-height: auto;}
    .blogItem > p{min-height: auto;margin: 10px 0 25px;}
    .blogItem > a{font-size: 14px;}
    .blogsHead{margin-bottom: 45px;}
    .blogfooterLink{font-size: 14px;padding: 14px 22px;}
    .blogfooter{margin: 40px 0 0;}

    .insightsUpdatesDetailsWrap{padding:100px 0 60px}
    .blogPostContentHead>h1{font-size:24px;margin:15px 0 5px}
    .blogPostContentHead>h3{font-size:16px}
    .blogPostContentHead>span{font-size:14px}
    .blogPostContent img{margin:20px 0}
    .blogPostContent p{font-size:16px}
    .blogPostContent h2{font-size:20px;margin:15px 0}
    .blogPostContent ul>li{font-size:16px;padding:0 0 8px 20px}
    .blogPostContent ul>li:before{width:6px;height:6px}
    .blogVideowWap img{margin:0}
    .blogPostShareSec{flex-wrap:wrap;gap:10px;padding:20px 0;margin:30px 0}
    .blogPostShareSec .shareLabel{font-size:11px;width:100%;margin:0 0 4px}
    .blogPostShareSec .shareButton{width:36px;height:36px;min-width:unset;font-size:unset}
    .insightsUpdatesDetailsRghtCont>h3{font-size:20px}
    .recentPostsitem{gap:15px}
    .recentPostsitem>p{font-size:16px}
    .blogVideoPlayBtn{width:50px;height:50px}

}

@media only screen and (max-width: 479px) {

    /*blog*/
    .blogsBody{gap: 35px;}
    .blogsHead>h2{font-size: 22px;}
    .blogItem>h5{font-size: 18px;}
    .blogItem > p{margin: 10px 0 15px;}

    /* .insightsUpdatesDetailsWrap{padding:30px 0 40px} */

}

@media only screen and (max-width: 320px) {
}
