<header class="headerWrap" id="header">
    <div class="container">
        <div class="headerSec">

            <!-- Hamburger -->
            <div class="hamburger" id="hamburger">
                <img src="assets/images/common/hamburger.svg" width="32" />
                <span>Menu</span>
            </div>

            <!-- Logo -->
            <div class="headerNavLinks">
                <ul class="navLinksList">
                    <li class="headerLogoSec">
                        <a href="/">
                            <img src="assets/images/common/logo.svg" width="162" height="162" class="headerLogoImg" />
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</header>

<!-- Mobile Sidebar -->
<div class="mobileSidebar" id="mobileSidebar">
    <div class="sidebarOverlay" id="sidebarOverlay"></div>

    <div class="sidebarContent">
        <div class="hamburger" id="closeSidebar">
            <img src="assets/images/common/hamburger.svg" width="32" />
            <span>Menu</span>
        </div>

        <nav class="sidebarNav">
            <ul class="sidebarNavList">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/expertise">Expertise</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/career">Career</a></li>
            </ul>
        </nav>
    </div>
</div>

<!-- WhatsApp -->
<div class="whatsappBtnWrap">
    <a href="#" class="whatsappBtn">
        <img src="assets/images/common/whatsapp.png" width="38" />
    </a>
</div>

<script src="header.js"></script>