@import "font.css";
@import "header.css";
@import "footer.css";

:root {
  --inter18ptRegular: 'Inter 18pt Regular';
  --inter18ptBold: 'Inter 18pt Bold';
  --inter18ptExtraBold: 'Inter 18pt ExtraBold';
  --inter18ptLight: 'Inter 18pt Light';
  --inter18ptMedium: 'Inter 18pt Medium';
  --inter18ptSemiBold: 'Inter 18pt SemiBold';
  --inter18ptThin: 'Inter 18pt Thin';
  --inter24ptRegular: 'Inter 24pt Regular';
  --inter24ptBold: 'Inter 24pt Bold';
  --inter24ptExtraBold: 'Inter 24pt ExtraBold';
  --inter24ptLight: 'Inter 24pt Light';
  --inter24ptMedium: 'Inter 24pt Medium';
  --inter24ptSemiBold: 'Inter 24pt SemiBold';
  --inter24ptThin: 'Inter 24pt Thin';
  --inter28ptRegular: 'Inter 28pt Regular';
  --inter28ptBold: 'Inter 28pt Bold';
  --inter28ptExtraBold: 'Inter 28pt ExtraBold';
  --inter28ptExtraLight: 'Inter 28pt ExtraLight';
  --inter28ptLight: 'Inter 28pt Light';
  --inter28ptMedium: 'Inter 28pt Medium';
  --inter28ptSemiBold: 'Inter 28pt SemiBold';
  --yellow:#CFC4AE;
}
.container{width:100%;margin-right:auto;margin-left:auto;padding-right:1rem;padding-left:1rem}
*{margin:0;padding:0;box-sizing:border-box}
ul,ol{list-style:none}
a,a:focus, a:active{text-decoration:none;color:inherit; -webkit-tap-highlight-color: transparent;outline: none;}
body{font-family: var(--inter18ptRegular), sans-serif;font-weight: 400;color:#000;background-color:#fff}
img{max-width:100%;height:auto;display:block}
button{background:none;border:none;cursor:pointer;font:inherit}
table{border-collapse:collapse;border-spacing:0}
h1,h2,h3,h4,h5,h6{font-weight:normal;margin:0}
p{margin:0}
p>em{display:block}
input,input:focus,input:active,input:focus-visible{outline:none!important;box-shadow:none!important}
select:focus,select:active,select:focus-visible{outline:none;box-shadow:none}
html{scroll-behavior:smooth}

/* Custom Scrollbar - Black Theme */
::-webkit-scrollbar{width:12px;height:12px}
::-webkit-scrollbar-track{background:#1a1a1a;border-radius:6px}
::-webkit-scrollbar-thumb{background:#333;border-radius:6px;border:2px solid #1a1a1a;transition:background .3s ease}
::-webkit-scrollbar-thumb:hover{background:#555}
::-webkit-scrollbar-thumb:active{background:#777}
::-webkit-scrollbar-corner{background:#1a1a1a}
*{scrollbar-width:thin;scrollbar-color:#333 #1a1a1a}

  
@media screen and (min-width: 1800px) {
}

@media screen and (min-width: 1600px) {
}

@media screen and (min-width: 1440px) {
}

@media screen and (min-width: 1200px) {
.container{padding-left:60px;padding-right:60px}
}

@media screen and (min-width: 1300px) {
}

@media only screen and (max-width: 991px) {
.container{padding-left:25px;padding-right:25px}
}

@media only screen and (max-width: 767px) {
  .container{padding-left:15px;padding-right:15px}
}

@media only screen and (max-width: 479px) {
}


/*Banner*/
.bannerWrapper{position:relative;}
.bannerSwiper{position:relative !important;height: 900px;}
.bannerSlide{position:relative;height:900px;display:flex;align-items:center;background-color: #000;background-size: cover;background-repeat: no-repeat;background-position: center;}
.bannerBgImage{object-fit:cover;object-position:center;z-index:1;}
.bannerOverlay{position:absolute;top:0;left:0;right:0;bottom:0;z-index:2;background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.0715) 82%, rgba(0, 0, 0, 0) 100%);}
.bannerContent{height: 900px;position:relative;z-index:3;color:#fff;text-align:center;display: flex;align-items: center;justify-content: center;flex-direction: column;}
.bannerContent h1{margin-bottom: 50px;font-size: 65px;line-height: 1.3em;color: #E5DAC4;max-width: 990px;font-family: var(--inter18ptSemiBold);}
.bannerContent p{font-size:18px;line-height:1.6em;color: var(--yellow);max-width: 974px;text-align: center;font-family: var(--inter18ptRegular);}
.bannerWrapper .swiper-pagination{position:absolute!important;right:60px!important;left:auto!important;z-index:100!important;display:flex!important;flex-direction:column!important;gap:10px!important;width:auto!important;height:100%;justify-content: center;}
.bannerWrapper .swiper-pagination-bullet{display:flex !important;align-items:center !important;justify-content:center !important;margin:0!important;width:15px!important;height:15px!important;background:transparent!important;transition:all .3s ease!important;border-radius:50%!important;border:1px solid #fff!important;}
.bannerWrapper .swiper-pagination-bullet::before{content:''!important;width:3px!important;height:3px!important;border-radius:50%!important;background:#fff!important;opacity:1!important;}
.bannerWrapper .swiper-pagination-bullet-active{transform:scale(1.3)!important;opacity:1!important;}
.bannerWrapper .swiper-pagination-bullet-active::before{background:#fff!important;opacity:1!important;transform:scale(1.2)!important}

/*Brand Legacy*/
.brandLegacyWrapper{position:relative;height:830px;display:flex;align-items:center;background-color:#000;padding: 90px 0;background-image: url('../images/home/chutneyandco-bg.png');background-size: cover;background-position: center;background-repeat: no-repeat;}
.brandLegacyContent { z-index: 3; position: relative; height: calc(830px - 180px); display: flex; flex-direction: column; gap: 25px;color: var(--yellow); justify-content: center; }
.brandLegacyContent h2{font-size:45px;font-weight:600;margin-top:75px;line-height: 1.1em;font-family: var(--inter24ptSemiBold);}
.brandLegacyContent h2>em{display: block;}
.brandLegacyContent p{font-size:18px;line-height:1.5em;max-width:700px;}
.brandLegacyBtns{display: flex;gap: 10px;margin-top: 75px;}
.brandLegacyBtns a{background: #42281B;border: 1px solid #42281B;border-radius: 50px;align-items: center;gap: 10px;padding: 16px 24px;transition: all .3s;display: inline-flex;width: max-content;font-size: 16px;font-family: var(--inter24ptSemiBold);}
.brandLegacyBtns a:hover{background: rgb(66, 40, 27,.46);}
.brandLegacyBtns a.discoverBtn{background: rgb(66, 40, 27, .46);border: 1px solid rgb(66, 40, 27, .46);}
.brandLegacyBtns a.discoverBtn:hover{background: #42281B;}
.brandLegacyRightText{position:absolute;bottom:130px;right:0;z-index:3;color:var(--yellow);background: rgba(41, 41, 41, 0.66);border-radius: 50px 0 0 50px;}
.brandLegacyRightText p{font-size:16px;line-height:1.5em;padding: 28px 56px 28px 42px;font-family: var(--inter24ptRegular);}

/*Pelleni Sec*/
.pelliniSecWrap{position:relative;height:830px;display:flex;align-items:center;background-color:#000;padding:90px 0;background-image: url('../images/home/pelleni-bg.png');background-size: cover;background-position: center;background-repeat: no-repeat;}
.pelliniSecContent{z-index:3;position:relative;height:calc(830px - 180px);display:flex;flex-direction:column;gap:25px;color:var(--yellow);justify-content: center;}
.pelliniSecContent h2{font-size:45px;font-weight:600;margin-top:75px;line-height:1.1em}
.pelliniSecContent h2>em{display:block}
.pelliniSecContent p{font-size:18px;line-height:1.5em;max-width:700px}
.pelliniBtns{display: flex;gap: 10px;margin-top: 75px;}
.pelliniBtns a{background: #42281B;border: 1px solid #42281B;border-radius: 50px;align-items: center;gap: 10px;padding: 16px 24px;transition: all .3s;display: inline-flex;width: max-content;font-size: 16px;font-family: var(--inter24ptSemiBold);}
.pelliniBtns a:hover{background: rgb(66, 40, 27,.46);}
.pelliniBtns a.discoverBtn{background: rgb(66, 40, 27, .46);border: 1px solid rgb(66, 40, 27, .46);}
.pelliniBtns a.discoverBtn:hover{background: #42281B;}
.pelliniSecRightText{position:absolute;bottom:118px;right:0;z-index:3;color:var(--yellow);background:#292929a8;border-radius:50px 0 0 50px}
.pelliniSecRightText p{font-size:16px;line-height:1.6em;padding:21px 56px 20px 36px;text-align: right;}  
.pelliniSecRightText p em{display:block;}

/*blogs*/
.blogsWrap{padding: 80px 0;background: #151412;}
.blogsHead{text-align: center;color: var(--yellow);margin-bottom: 80px;}
.blogsHead > h2{font-size: 45px;line-height: 1em;font-weight: 600;margin: 0;}
.blogsBody{display: grid;grid-template-columns: repeat(4, 1fr);gap: 30px;color: var(--yellow);}
.blogItemLink{display: block;text-decoration: none;color: inherit;}
.blogItem{border-bottom: 1px solid #a3a099;cursor: pointer;}
.blogItem > span{font-size: 13px;line-height: 1em;margin: 30px 0 10px;display: block;}
.blogItem > h5{font-size: 20px;line-height: 1.5em;font-weight: 600 !important;min-height: 55px;}
.blogItem > p{font-size: 16px;line-height: 1.6em;margin: 25px 0;}
.blogLink{font-size: 15px;line-height: 1em;margin-bottom: 10px;display: inline-flex;gap: 5px;align-items: center;}
.blogLink > img{width: 18px;height: 10px;transition: transform 0.3s ease;}
.blogItem:hover .blogLink > img{transform: translateX(5px);}
.blogImg{overflow:hidden;position:relative;height:258px;}
.blogImg img{transition:transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);width: 100%;height:100%;object-fit:cover;transform-origin:center;will-change:transform;}
.blogItem:hover .blogImg img{transform:scale(1.05);}
.blogfooter{display: flex;justify-content:center;align-items: center;margin: 60px 0 0;}
.blogfooterLink{background: rgb(66, 40, 27, .46);border: 1px solid rgb(66, 40, 27, .46);border-radius: 50px;align-items: center;gap: 10px;padding: 16px 24px;transition: all .3s;display: inline-flex;width: max-content;font-size: 16px;font-family: var(--inter24ptSemiBold);color: var(--yellow);}
.blogfooterLink:hover{background: #42281B;}

/*who we are*/
.whoWeAreWrap{position:relative;height:900px;display:flex;align-items:center;background-color:#000;padding: 90px 0;}
.whoWeAreBg{object-fit:cover;object-position:center;z-index:1;}
.whoWeAreOverlay{position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.6);z-index:2;}
.whoWeAreContent { z-index: 3; position: relative; align-items: center; height: calc(900px - 200px); display: flex; flex-direction: column; justify-content: space-between; }
.whoWeAreTop{text-align:center;margin-bottom:60px;}
.whoWeAreTop h2{font-size:114px;font-weight:bold;margin-bottom:40px;color: var(--yellow);line-height: 1em;}
.whoWeAreTop p{font-size:18px;line-height:1.6em;max-width:930px;margin:0 auto;color:var(--yellow);}
.whoWeAreBottom{width: 100%;}
.whoWeAreImages{display:flex;justify-content:space-between;align-items:center;gap:40px;margin-top:40px;}
.whoWeAreImages .imageLeft,.whoWeAreImages .imageRight{min-width: 300px;}
.whoWeAreImg{width:100%;height:auto;border-radius:10px;transition:transform 0.3s ease;}
.whoWeAreImg:hover{transform:translateY(-5px);}

/*fuel your day*/
.fuelYourDayWrap{position:relative;height:900px;display:flex;align-items:center;padding: 80px 0 100px 0;border: 35px solid #42281B;background-color: #42281B;}
.fuelYourDayBg{object-fit:cover;object-position:center;z-index:1;border-radius: 5px;}
.fuelYourDayOverlay{position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.5);z-index:2;border-radius: 5px;}    
.fuelYourDayWrap > .container{height: 100%;}
.fuelYourDayContent{z-index: 3; position: relative; display: flex;flex-direction: column;justify-content: space-between;height:100%;}
.fuelYourDayTop{color: var(--yellow);}
.fuelYourDayTop em{font-size:90px;font-weight: bold;line-height: 1em;display: block;height: 45px;position: relative;left: -5px;font-style: normal;}
.fuelYourDayTop h3{font-size:67px;font-weight:bold;line-height: 1em;margin-top: 5px;text-transform: uppercase;}
.fuelYourDayTop span{font-size:29px;line-height:1em;font-weight:bold;}
.fuelYourDayBottom p{color: var(--yellow);font-size: 30px;line-height: 1em;font-weight: 600;}

/*Pellini Details*/
.pelliniDetailsWrap{position:relative;height:857px;display:flex;align-items:center;padding: 120px 0;}
.pelliniDetailsBg{object-fit:cover;object-position:center;z-index:1;}
.pelliniDetailsWrap > .container{height: 100%;}
.pelliniDetailsContent{height:100%;z-index: 3; position: relative; display: flex;justify-content: space-between;color: var(--yellow);}
.pelliniDetailsLft > h3{font-size:45px;line-height:1.3em;font-weight: 400;}
.pelliniDetailsLft > h3 > em{display: block;}
.pelliniDetailsLft > h3{font-size:45px;line-height:1.3em}
.pelliniDetailsRght{max-width: 490px;}
.pelliniDetailsRght > span{font-size:25px;line-height:1em;font-weight: 500;display: block;margin: 100px 0 25px;}
.pelliniDetailsRght > p{font-size:18px;line-height:1.6em;}  

/*marquee*/
.marqueeWrap{background:#151412;padding:60px 0;}
.marqueeItem span{font-size: 120px;font-weight: 700;opacity: 35%;color: #151412;fill: #151412;-webkit-text-stroke: 1px #fff;}

/*Product slider*/
.productSwiper{background: linear-gradient(to bottom, #1a1a1a 0%, #000000 100%);}
.productContent{display: flex;color: var(--yellow);padding: 55px 0 120px;width: 100%;align-items: center;justify-content: space-between;}
.productTitle > span{font-size: 33px;line-height: 1em;font-weight: 100;}
.productTitle > h3{font-size: 60px;line-height: 1.2em;font-weight: 500;margin: 5px 0 75px;text-transform: uppercase;}
.productTitle > h3 > em{display: block;}
.productTitle > a{font-size: 20px;line-height: 1em;font-weight: 500;color:var(--yellow);text-decoration: underline;}
.productImageSec{display: flex;align-items: flex-end;position: relative;max-width: 260px;}
.productImageSec .productImage1{position: absolute;left: -100px;max-width: 200px;}
.productInfo > p{font-size: 30px;line-height: 1em;font-weight: 600;}
.productInfo > span{font-size: 25px;line-height: 1em;display: block;margin: 25px 0 40px;}
.productInfo > a{padding: 16px 26px;border: 1px solid #42281B;background: #42281B;border-radius: 50px;display: inline-flex;gap: 10px;align-items: center;transition: all 0.3s ease;}
.productInfo > a:hover{background: transparent;border: 1px solid #42281B;}
.productSliderWrap{position: relative;}
.productSwiperSliderNav{position:absolute;bottom:100px;left:0;right:0;display:flex;justify-content:center;gap:20px;z-index:10}
.productSwiperSliderBtn{width:50px;height:50px;background-image:url(/images/home/left-arrow.png);background-size:contain;background-repeat:no-repeat;cursor:pointer;transition:transform .3s ease}
.productSwiperSliderBtn.productSwiperNextBtn{background-image:url(/images/home/right-arrow.png)}
.productSwiperSliderBtn:hover{transform:scale(1.05);opacity:.8} 


/*about*/
.aboutWrap{position:relative;height:900px;display:flex;align-items:center;padding: 120px 0;}
.aboutBg{object-fit:cover;object-position:center;z-index:1;}
.aboutWrap > .container{height: 100%;}
.aboutContent{display: flex;justify-content: space-between;color: var(--yellow);z-index: 3; position: relative;height: 100%; }
.aboutContentLft > h3{font-size: 45px;line-height: 1.2em;font-weight: 600;}
.aboutContentLft > h3 > em{font-weight: 400;font-style: normal;display: block;}
.aboutContentRght{display: flex;align-items: flex-end;}
.aboutContentRght > p{font-size: 18px;line-height: 1.6em;max-width: 510px;margin-right: 60px;}

/*faq*/
.faqWrap{padding: 115px 0 130px;background: #000000;}
.faqItem{color: var(--yellow);border-bottom:1px solid var(--yellow);padding: 40px 55px 40px 0;position:relative;}
.faqItem:last-child{border-bottom:none;}
.faqInput{display: none;}
.faqTitle{display: flex;align-items: flex-end;margin: 0;gap: 25px;cursor: pointer;width: 100%;}
.faqTitle > h2{font-size:60px;line-height: 1em;cursor:pointer;display:flex;justify-content:flex-start;align-items:center;transition:all 0.3s ease;margin: 0;}
.faqTitle em{font-size: 18px;font-weight: 400;position: relative;bottom: 5px;}
.faqTitle:hover{color:var(--yellow);}
.faqInput:checked ~ .faqTitle {color:var(--yellow);}
.faqToggle{position:absolute;right:0;top:50%;transform:translateY(-50%);transition:transform 0.3s ease;display:flex;align-items:center;}
.faqToggle img{transition:transform 0.3s ease;cursor:pointer;}
.faqToggle img:hover{transform:scale(1.1);}
.faqInput:checked ~ .faqTitle .faqToggle img { transform: rotate(45deg); }
.faqContent{max-height:0;overflow:hidden;transition:max-height 0.5s ease, opacity 0.3s ease;opacity:0;}
.faqInput:checked ~ .faqContent{max-height:500px;opacity:1;}
.faqDesc{font-size:18px;opacity:.9;margin:34px 0 12px;line-height: 1.5em;}
.faqLink{display:inline-block;font-weight:600;transition:.3s ease;font-size:18px;}
.faqLink:hover{color:var(--yellow);}

/*Testimonial*/
.testimonialWrap{padding: 100px 0 80px;background: #151412;}
.testimonialHead{display: flex;justify-content: space-between;align-items: center;color: var(--yellow);margin-bottom: 110px;}
.testimonialTitile > span{font-size: 18px;text-transform: uppercase;display: block;margin-bottom: 12px;}
.testimonialTitile > h3{font-size: 40px;line-height: 1em;font-weight: 600;margin: 0;}
.testimonialBtn a{padding: 12px 26px;border: 1px solid var(--yellow);color:var(--yellow);border-radius: 25px;transition: all 0.3s ease;font-size: 18px;line-height: 1em;}
.testimonialBtn a:hover{background: var(--yellow);color: #fff;}
.testimonialCard{padding: 40px;height: 100%;display: flex;flex-direction: column;color: var(--yellow);}
.testimonialContent{flex: 1;margin-bottom: 30px;}
.testimonialText{font-size: 18px;line-height: 1.6em;margin: 0;text-align: center;}
.testimonialAuthor{text-align: center;margin: 70px 0 0;}
.authorImage{display: flex;align-items: center;justify-content: center;}
.authorImg{border-radius: 50%;object-fit: cover;}
.authorInfo h4{font-size: 22px;line-height: 1em;margin: 0;margin-top: 15px;}
.quoteImage{display: flex;justify-content: center;align-items: center;margin-bottom: 30px;}
.testimonialSwiper{padding:0 0 40px !important;}
.testimonialSwiper .swiper-slide{opacity:.2;transform:scale(0.5);transition:all .6s cubic-bezier(0.25,0.46,0.45,0.94);transform-origin:center}
.testimonialSwiper .swiper-slide-active{opacity:1;transform:scale(3);z-index:3}
.testimonialSwiper .swiper-slide-next,.testimonialSwiper .swiper-slide-prev{opacity:.4;transform:scale(0.2);z-index:2}
.testimonialSwiper .swiper-pagination{position:absolute!important;bottom:10px !important;left:50%!important;transform:translateX(-50%)!important;z-index:100!important;display:flex!important;flex-direction:row!important;gap:10px!important;width:auto!important;height:auto!important;justify-content: center;}
.testimonialSwiper .swiper-pagination-bullet{margin:0!important;width:16px!important;height:16px!important;background:transparent!important;transition:all .3s ease!important;border-radius:50%!important;position:relative!important;}
.testimonialSwiper .swiper-pagination-bullet::before{content:''!important;position:absolute!important;top:50%!important;left:50%!important;transform:translate(-50%,-50%)!important;width:9px!important;height:9px!important;border-radius:50%!important;opacity:1!important}
.testimonialSwiper .swiper-pagination-bullet::before{background:#fff!important;opacity:1!important;}
.testimonialSwiper .swiper-pagination-bullet-active{opacity:1!important;border:1px solid #fff!important;}
.testimonialSwiper .swiper-pagination-bullet-active::before{background:#fff!important;opacity:1!important;width:5px!important;height:5px!important;}



/*Brochure*/
.BrochureWrap{background: #000;position: relative;}
.BrochureBg{object-fit:cover;object-position:center;z-index:1;height: 275px;}
.BrochureOverlay{position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.6);z-index:2;}
.BrochureContent { color: #fff; z-index: 3; text-align: center; max-width: 420px;position: absolute; top: 50%; right: -150px; transform: translate(-50%, -50%); }
.BrochureContent > p{font-size: 18px;line-height: 1.6em;margin: 0 0 35px;}
.BrochureContent > a{border-radius: 30px;font-size: 18px;padding: 18px 28px;display: inline-flex;gap: 15px;background: #470B01; background: linear-gradient(245deg, rgba(71, 11, 1, 1) 0%, rgba(235, 158, 1, 1) 100%);align-items: center;transition: background 0.6s ease-in-out;}
.BrochureContent > a:hover{background: linear-gradient(245deg, rgba(91, 31, 21, 1) 0%, rgba(255, 178, 21, 1) 100%);}
.BrochureContent > a > img{height: 13px;height: 13px;}
