@media screen and (min-width: 1800px) {

}

@media screen and (min-width: 1600px) {

   
}

@media screen and (min-width: 1440px) {

    /*career*/

}

@media screen and (min-width: 1300px) {

    /*Brochure*/
}

@media screen and (max-width: 1200px) {}


@media screen and (max-width: 1024px) {

}


@media only screen and (max-width: 991px) {

    /*career*/    
    
    
}

@media only screen and (max-width: 767px) {  

    /*career*/
   

}

@media only screen and (max-width: 479px) {

    /*career*/   



}

@media only screen and (max-width: 320px) {
}
