@media screen and (min-width: 1800px) {

}

@media screen and (min-width: 1600px) {
    
    /*portfolio*/
    .portfolioImg{height: 525px;padding: 80px 80px 100px;}

   
}

@media screen and (min-width: 1440px) {

    /*career*/

}

@media screen and (min-width: 1300px) {

    /*Brochure*/
}

@media screen and (max-width: 1200px) {
    .portfolioItem > h5{font-size:30px;}
}


@media screen and (max-width: 1024px) {

}


@media only screen and (max-width: 991px) {

    /*career*/    
    .careerBannerWrapper{height: 750px;background-position: 50% calc(100% - 260px);}
    .careerBannerSec h1{font-size: 40px;margin: 30px 0;}
    .careerBannerSec span{font-size: 22px;line-height: 1.6em;margin-bottom: 25px;}
    .careerBannerSec p{font-size: 16px;line-height: 1.4em;margin-bottom: 40px;}
    .careerBannerSec > a{margin-bottom: 20px;}  
    
    /*portfolio*/
    .portfolioWrapper{padding: 120px 0 80px;}
    .portfolioGrid{grid-template-columns: repeat(2, 1fr);gap: 60px 40px;}
    .portfolioFooter{padding-top: 60px;}
    .portfolioItem > h5{margin-top: 25px;}
    .portfolioItem>span{margin: 8px 0 20px;}
    
}

@media only screen and (max-width: 767px) {  

    /*career*/
    .careerBannerSec > a{ font-size: 16px; padding: 12px 22px; }
   

}

@media only screen and (max-width: 479px) {

    /*career*/   
    .careerBannerWrapper{height: 650px;background-position: 50% calc(100% - 320px);}
     .careerBannerSec h1{font-size: 25px;margin: 30px 0;}
     .careerBannerSec span{font-size: 18px;margin-bottom: 25px;}
     .careerBannerSec p{font-size: 16px;margin-bottom: 25px;}
     .careerBannerSec p >em{display: inline-block;}     
     .careerBannerSec > a { font-size: 15px; padding: 10px 20px; margin-bottom: 20px;}



}

@media only screen and (max-width: 320px) {
}
