
/* career */
.careerBannerWrapper{height:900px;background-color:#151412;background-image:url(../images/static/career-bg.svg);background-repeat:no-repeat;background-size:cover;background-position: 50% calc(100% - 60px);}
.careerBannerWrapper .container{height: 100%;}
.careerBannerSec{height: 100%;display: flex;align-items: center;justify-content: center;flex-direction: column;text-align: center;color: #fff;}
.careerBannerSec h1{font-size: 45px;line-height: 1em;font-family: var(--inter24ptSemiBold);margin: 60px 0;text-transform: uppercase;}
.careerBannerSec span{font-size: 30px;line-height: 1.6em;font-family: var(--inter24ptSemiBold);margin-bottom: 38px;}
.careerBannerSec span > em{display: block;}
.careerBannerSec p{font-size: 18px;line-height: 1.4em;font-family: var(--inter24ptRegular);margin-bottom: 50px;}
.careerBannerSec > a{background: #42281B;border: 1px solid #42281B;border-radius: 50px;align-items: center;gap: 10px;padding: 16px 24px;transition: all .3s;display: inline-flex;width: max-content;font-size: 16px;font-family: var(--inter24ptSemiBold);margin-bottom: 30px;}
.careerBannerSec > a:hover{background: rgb(66, 40, 27,.46);}
.careerBannerSec > p >  a{font-size: 16px;line-height: 1em;font-family: var(--inter24ptRegular);}

/*portfolio*/
.portfolioWrapper{padding: 160px 0 120px;background: #151412;}
.portfolioTitle{text-align: center;color:#D8D8D8;margin-bottom: 80px;}
.portfolioTitle > h2{font-size: 45px;line-height: 1em;margin: 0;font-family: var(--inter24ptSemiBold);}
.portfolioGrid{display: grid;grid-template-columns: repeat(3, 1fr);gap: 40px;color: var(--yellow);color: #676767;}
.portfolioItemLink{display: block;text-decoration: none;color: inherit;}
.portfolioItem{border-bottom: 1px solid #676257;cursor: pointer;transition: all 0.3s ease;}
.portfolioItem > h5{font-size: 35px;line-height: 1.5em;font-family: var(--inter24ptMedium);margin-top: 35px;text-align: center;transition: all 0.3s ease;}
.portfolioItem > span{font-size: 18px;line-height: 1em;margin: 10px 0 25px;display: block;font-family: var(--inter24ptSemiBold);text-align: center;transition: all 0.3s ease;}
.portfolioImg{overflow:hidden;position:relative;height: 425px;display: flex;justify-content: space-between;align-items: center;flex-direction: column;padding: 60px 60px 80px;}
.portfolioImg::before{content:"";position:absolute;inset:0;z-index:1;background-size:cover;background-position:center;background-repeat:no-repeat;transition:transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);will-change:transform;}
.portfolioImg::after{content:"";position:absolute;inset:0;background:linear-gradient(to bottom,#000f 0%,#0000008a 50%,#0000 100%);z-index:2;pointer-events:none}
.portfolioImg.img1::before{background-image: url(../images/static/Chutney&Co-bg.png);}
.portfolioImg.img2::before{background-image: url(../images/static/portfolio-PelliniCaffe.png);}
.portfolioImg.img3::before{background-image: url(../images/static/portfolio-FutureAcquisitions.png);}
.portfolioImg img{position:relative;z-index:3;}
.portfolioItem:hover .portfolioImg::before{transform:scale(1.05);}
.portfolioItem:hover{color: #D8D8D8;border-bottom: 1px solid #CFC4AE;}
.portfolioFooter{padding-top: 80px;}
.portfolioFooter > p{font-size: 18px;line-height: 1.4em;font-family: var(--inter24ptRegular);text-align: center;color: #CECECE;}

/*contact-us*/
.contactBannerWrapper{padding: 160px 0 120px;background-color: #000;}
.contactTitle{color: #D8D8D8;text-align: center;}
.contactTitle h1{font-size: 45px;line-height: 1em;font-family: var(--inter24ptSemiBold);margin: 60px 0;text-transform: uppercase;}
.contactTitle p{font-size: 30px;line-height: 1.4em;font-family: var(--inter24ptSemiBold);margin-bottom: 10px;}
.contactTitle span{font-size: 18px;line-height: 1.6em;font-family: var(--inter24ptRegular);}
.contactGrid{display: grid;grid-template-columns: repeat(4, 1fr);gap: 60px;margin: 60px 0 0;}
.contactGridItem{display: flex;align-items: center;flex-direction: column;color: #D8D8D8;padding: 80px;background-color: #151412;border-radius: 6px;gap: 60px;}
.contactGridItem > p{font-size: 18px;line-height: 1.4em;font-family: var(--inter24ptRegular);text-align: center;}
.contactGridItem > em{display: block;width: 100px;height: 100px;}

.contactFormWrapper{display: flex;align-items: stretch;justify-content: center;color: #D8D8D8;}
.contactFormSec{background-color: #151412;width: 50%;padding: 60px 60px 60px 0;}
.contactFormTitle > h2{font-size: 30px;line-height: 1em;font-family: var(--inter24ptSemiBold);margin: 0 0 20px;text-transform: uppercase;}
.contactFormTitle > p{font-size: 14px;line-height: 1.4em;font-family: var(--inter24ptRegular);}
.contactFormGrid{margin: 30px 0 40px;}
.contactFormGridItem {position: relative;}
.contactFormGridItem input[type="text"], .contactFormGridItem input[type="email"], .contactFormGridItem input[type="tel"]{width: 100%;background: transparent;border: none;border-bottom: 1px solid #707070;outline: none;color: #D8D8D8;padding: 20px 0;font-size: 18px;font-family: var(--inter24ptRegular);margin-bottom: 20px;}
.contactFormGridItem label{position: absolute;left: 0;top: 10px;pointer-events: none;transition: 0.3s ease all;color: #D8D8D8;font-family: var(--inter24ptRegular);font-size: 16px;}
.contactFormGridItem label span { color: #C92525; }
.contactFormGridItem input:focus ~ label, .contactFormGridItem input:not(:placeholder-shown) ~ label{top: -2px;font-size: 12px;color: #D8D8D8;}
.error-msg { display: none; color: #C92525; font-size: 12px;font-family: var(--inter24ptRegular);position: relative;top: -15px; }
.contactFormGridItem.error input { border-bottom-color: #C92525; }
.contactFormGridItem.error .error-msg { display: block;font-size: 12px;color: #C92525; }
.contactDetailsSec{width: 50%;}
.contactFormGridItem input[type="checkbox"]{appearance:none;-webkit-appearance:none;width:15px;height:15px;background-color:transparent;border:1px solid #CECECE;cursor:pointer;position:relative;margin-right:5px;vertical-align:middle}
.contactFormGridItem input[type="checkbox"]:checked{background-color:transparent}
.contactFormGridItem input[type="checkbox"]:checked::after{content:'';position:absolute;top:0px;left:4px;width:4px;height:10px;border:solid #CECECE;border-width:0 2px 2px 0;transform:rotate(45deg)}
.contactFormGridItem span{vertical-align:middle;margin-right:20px;font-family:var(--inter24ptRegular);font-size:16px;color:#CECECE}
.contactFormGridItem.msgItem label{position: static;margin-right: 30px;}
.enquiryFormBtn{background: transparent;border: 1px solid #CECECE;border-radius: 50px;align-items: center;gap: 10px;padding: 16px 24px;transition: all .3s;display: inline-flex;width: max-content;font-size: 16px;font-family: var(--inter24ptSemiBold);color:#CECECE}
.enquiryFormBtn img{transition: all .3s;}
.enquiryFormBtn:hover img{transform: translateX(5px);}

.contactDetailsSec{background-color:#000;background-image:url(../images/static/contact-details-bg.svg);background-repeat:no-repeat;background-position: bottom right;background-size: 180%;}
.contactDetailsGrid{padding: 100px 60px 60px 40px;}
.contactDetailsGridItem {display: flex;align-items: center;gap: 20px;margin-bottom: 60px;}
.contactDetailsGridItem > a {display: block;font-size: 22px;line-height: 1.4em;font-family: var(--inter24ptRegular);color: #CECECE;}
.contactDetailsGridItem > a > em{display: block;font-style: normal;font-size: 14px;line-height: 1.4em;font-family: var(--inter24ptRegular);color: #CECECE;}

/*products*/
.productSwiper{background: linear-gradient(to bottom, #1a1a1a 0%, #000000 100%);}
.productContent{display: flex;color: var(--yellow);padding: 140px 0 120px;width: 100%;align-items: center;justify-content: space-between;}
.productTitle > span{font-size: 33px;line-height: 1em;font-weight: 100;}
.productTitle > h3{font-size: 60px;line-height: 1.2em;font-weight: 500;margin: 5px 0 75px;text-transform: uppercase;}
.productTitle > h3 > em{display: block;}
.productTitle > a{font-size: 20px;line-height: 1em;font-weight: 500;color:var(--yellow);text-decoration: underline;}
.productImageSec{display: flex;align-items: flex-end;position: relative;max-width: 260px;}
.productImageSec .productImage1{position: absolute;left: -100px;max-width: 200px;}
.productInfo > p{font-size: 30px;line-height: 1em;font-weight: 600;}
.productInfo > span{font-size: 25px;line-height: 1em;display: block;margin: 25px 0 40px;}
.productInfo > a{padding: 16px 26px;border: 1px solid #42281B;background: #42281B;border-radius: 50px;display: inline-flex;gap: 10px;align-items: center;transition: all 0.3s ease;}
.productInfo > a:hover{background: transparent;border: 1px solid #42281B;}
.productSliderWrap{position: relative;}
.productSwiperSliderNav{position:absolute;bottom:100px;left:0;right:0;display:flex;justify-content:center;gap:20px;z-index:10}
.productSwiperSliderBtn{width:50px;height:50px;background-image:url(../images/static/left-arrow.png);background-size:contain;background-repeat:no-repeat;cursor:pointer;transition:transform .3s ease}
.productSwiperSliderBtn.productSwiperNextBtn{background-image:url(../images/static/right-arrow.png)}
.productSwiperSliderBtn:hover{transform:scale(1.05);opacity:.8} 

.productsListWrap{padding: 90px 0;background-color: #151412;}
.productsListContent{display: flex;align-items: flex-start;gap: 80px;color: #fff;}
.productsMenu{width: 30%;}
.productsMenu ul li a{font-size: 20px;line-height: 1.4em;font-family: var(--inter18ptRegular);color: #D8D8D8;display: block;border-bottom: 1px solid #4A4846;padding-bottom:15px;margin-bottom: 25px;transition: all 0.3s ease;}
.productsMenu ul li a:hover{color: var(--yellow);}
.productsMenu ul li a.active{color: var(--yellow);}
.productsMenuTrigger{display: none;}

.productsGrid{display: grid;grid-template-columns: repeat(3, 1fr);gap: 25px;justify-content: space-between;}
.productsGridItemImage{background-color: #000;padding: 20px;display: flex;align-items: center;gap: 20px;justify-content: center; position: relative;}
.productsGridItemImageOverlay{display: flex; position: absolute; inset: 0; background: rgba(6,6,6,0.74); align-items: center; justify-content: center; flex-direction: column; opacity: 0; visibility: hidden; transition: all 0.3s ease; justify-content: space-between; padding: 25px; text-decoration: none;}
.productsGridItemImageOverlayDescription, 
.productsGridItemImageOverlayEnquiry {transform: translateY(20px);opacity: 0;transition: all 0.4s ease;}
.productsGridItemImageOverlayDescription { transition-delay: 0.1s; width: 100%; }
.productsGridItemImageOverlayEnquiry { transition-delay: 0.2s; }
.productsGridItemImageOverlayDescription p{font-size: 13px;line-height: 1.4em;font-family: var(--inter24ptRegular);padding: 0 0 10px 0;margin: 0 0 10px;border-bottom:1px solid #4A4846; color: #fff;}
.productsGridItemImageOverlayEnquiry{display: flex;gap: 10px; padding: 5px 0;margin: 0;border-bottom: 1px solid #4A4846;width: 100%; color: #fff; align-items: center;font-size: 14px;line-height: 1.4em;font-family: var(--inter24ptRegular);}
.productsGridItemImageOverlayEnquiry > img{object-fit: contain;}
.productsGridItem:hover .productsGridItemImageOverlay{opacity: 1; visibility: visible;}
.productsGridItem:hover .productsGridItemImageOverlayDescription,
.productsGridItem:hover .productsGridItemImageOverlayEnquiry{transform: translateY(0); opacity: 1;}
.productsGridItemContent > p{font-size: 30px;line-height: 1.4em;font-family: var(--inter18ptMedium);margin: 15px 0 0;color: #676767;transition: all 0.3s ease;}
.productsGridItem:hover .productsGridItemContent > p{color: #D8D8D8;}
.productsGridItemContent > span {font-size: 18px;line-height: 1.4em;font-family: var(--inter18ptMedium);color: #D8D8D8;display: block;margin-bottom: 0;color: #676767;transition: all 0.3s ease;}
.productsGridItem:hover .productsGridItemContent > span{color: #D8D8D8;}

/*about-us*/
.aboutBannerwrap{position: relative;;height: 900px;padding: 160px 0 80px;background-image: url(../images/about/about-banner.png);background-size: cover;background-repeat: no-repeat;}
.aboutBannerwrap::before{content:"";position: absolute;left: 0;top: 0;height: 100%;width: 100%;background-color: rgb(0, 0, 0,.46);z-index: 2;}
.aboutBannerwrap > .container{height: 100%;}
.aboutBannerContent{height: 100%;display: flex;flex-direction: column;gap: 20px;align-items: center;justify-content: center;text-align: center;margin: 0 auto;max-width: 1000px;}
.aboutBannerContent h1{margin: 0;margin-bottom: 60px;}
.aboutBannerContent p{font-size: 18px;line-height: 1.5em;font-family: var(--inter18ptRegular);color: #D8D8D8;}