@media screen and (min-width: 1800px) {

}

@media screen and (min-width: 1600px) {
    
    /*portfolio*/
    .portfolioImg{height: 525px;padding: 80px 80px 100px;}

    /*contact-us*/
    .contactGrid{gap: 120px;}

   
}

@media screen and (min-width: 1440px) {

    /*career*/

}

@media screen and (min-width: 1300px) {

    /*Brochure*/
}

@media screen and (max-width: 1200px) {
    /*portfolio*/
    .portfolioItem > h5{font-size:30px;}

    /*contact-us*/
    .contactGrid{gap: 40px;}
}


@media screen and (max-width: 1024px) {

}


@media only screen and (max-width: 991px) {

    /*career*/    
    .careerBannerWrapper{height: 750px;background-position: 50% calc(100% - 260px);}
    .careerBannerSec h1{font-size: 40px;margin: 30px 0;}
    .careerBannerSec span{font-size: 22px;line-height: 1.6em;margin-bottom: 25px;}
    .careerBannerSec p{font-size: 16px;line-height: 1.4em;margin-bottom: 40px;}
    .careerBannerSec > a{margin-bottom: 20px;}  
    
    /*portfolio*/
    .portfolioWrapper{padding: 120px 0 80px;}
    .portfolioGrid{grid-template-columns: repeat(2, 1fr);gap: 60px 45px;}
    .portfolioFooter{padding-top: 60px;}
    .portfolioItem > h5{margin-top: 25px;}
    .portfolioItem>span{margin: 8px 0 20px;}

    /*contact-us*/    
    .contactBannerWrapper{padding: 120px 0 60px;}
    .contactTitle h1{font-size: 40px;margin: 20px 0;}
    .contactTitle p{font-size: 25px;}
    .contactGrid {grid-template-columns: repeat(2, 1fr);gap: 30px;}
    .contactGridItem > img{max-width: 80px;}
    .contactFormWrapper{flex-direction: column;}
    .contactFormSec{width: 100%;}
    .contactDetailsSec{width: 100%;}
    .contactDetailsGrid{padding: 60px 0 20px;}
    .contactDetailsGridItem{margin-bottom: 40px;}
    .contactFormSec{padding: 60px 0;}
    
}

@media only screen and (max-width: 767px) {  

    /*career*/
    .careerBannerSec > a{ font-size: 16px; padding: 12px 22px; }

    /*portfolio*/
    .portfolioWrapper{padding: 100px 0 60px;}
    .portfolioTitle{margin-bottom: 40px;}
    .portfolioGrid{grid-template-columns: repeat(1, 1fr);gap: 45px;}
    .portfolioFooter{padding-top: 40px;}
    .portfolioImg{height: 400px;}
    .portfolioItem > h5{margin-top: 20px;font-size: 25px;}
    .portfolioItem>span{margin: 8px 0 20px;font-size: 18px;}
    .portfolioImg img{max-width: 250px;}

    /*contact-us*/
    .contactBannerWrapper{padding: 100px 0 60px;}
    .contactTitle h1{font-size: 35px;}
    .contactTitle p{font-size: 22px;}
    .contactGridItem{padding: 40px;gap: 40px;}
    .contactGridItem>img{max-width: 60px;}
    .contactDetailsGridItem>a{font-size: 18px;}
    .contactFormTitle>h2{font-size: 25px;}
    .contactDetailsGridItem{margin-bottom: 30px;}
    .contactDetailsGrid{padding: 60px 0 30px;}
   

}

@media only screen and (max-width: 479px) {

     /*career*/   
     .careerBannerWrapper{height: 650px;background-position: 50% calc(100% - 320px);}
     .careerBannerSec h1{font-size: 25px;margin: 30px 0;}
     .careerBannerSec span{font-size: 18px;margin-bottom: 25px;}
     .careerBannerSec p{font-size: 16px;margin-bottom: 25px;}
     .careerBannerSec p >em{display: inline-block;}     
     .careerBannerSec > a { font-size: 15px; padding: 10px 20px; margin-bottom: 20px;}

    /*portfolio*/
     .portfolioImg{padding: 40px 40px 60px;}
     .portfolioImg img{max-width: 200px;}

    /*contact-us*/
    .contactBannerWrapper{padding: 80px 0 40px;}
    .contactTitle h1{font-size: 25px;}
    .contactTitle p{font-size: 18px;}
    .contactTitle span{font-size: 16px;}
    .contactGrid{grid-template-columns: repeat(1, 1fr);gap: 20px;margin: 40px 0 0;}
    .contactGridItem{gap: 30px;}
    .contactGridItem>img{max-width: 50px;}
    .contactDetailsGridItem>a{font-size: 16px;}
    .contactFormTitle>h2{font-size: 20px;}
    .contactDetailsGridItem{margin-bottom: 20px;}
    .contactDetailsGrid{padding: 40px 0 20px;}
    .contactFormGridItem span{margin-right: 10px;}
    .contactFormGridItem.msgItem label{margin-right: 20px;}
    .contactFormGridItem input[type="checkbox"]{margin-right: 2px;width: 12px;height: 12px;}
    .contactFormGridItem span{font-size: 15px;}
    .contactFormGridItem input[type="text"],.contactFormGridItem input[type="email"],.contactFormGridItem input[type="tel"]{padding: 18px 0;font-size: 15px;margin-bottom: 18px;}
    .contactFormGridItem label{font-size: 15px;}


}

@media only screen and (max-width: 320px) {
}
