@media screen and (min-width: 1800px) {

}

@media screen and (min-width: 1600px) {

   
}

@media screen and (min-width: 1440px) {

    /*career*/

}

@media screen and (min-width: 1300px) {

    /*Brochure*/
}

@media screen and (max-width: 1200px) {}


@media screen and (max-width: 1024px) {

}


@media only screen and (max-width: 991px) {

    /*career*/    
    .careerBannerWrapper{height: 750px;background-position: 50% calc(100% - 260px);}
    .careerBannerSec h1{font-size: 45px;margin: 30px 0;}
    .careerBannerSec span{font-size: 25px;line-height: 1.6em;margin-bottom: 25px;}
    .careerBannerSec p{font-size: 18px;line-height: 1.4em;margin-bottom: 40px;}
    .careerBannerSec > a{margin-bottom: 20px;}        
    
}

@media only screen and (max-width: 767px) {  

    /*career*/
   

}

@media only screen and (max-width: 479px) {

    /*career*/   



}

@media only screen and (max-width: 320px) {
}
